* {
    font-family: "Google Sans Display", Roboto, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
